<h1>Formulário de Upload</h1>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag 'submit' %>
  <hr>
<% end %>


<table>
  <tr>
    <th>purchaser name</th>
    <th>item description</th>
    <th>item price</th>
    <th>purchase count</th>
    <th>merchant address</th>
    <th>merchant name</th>
  </tr>
  <tr>
    <% @total = 0 %>
    <% @customers.each do |c| %>
<tr>


    <td><%= c.purchaser_name %></td>
    <td><%= c.item_description  %></td>
    <td><%= c.item_price %></td>
    <td><%= c.purchase_count %></td>
    <td><%= c.merchant_address %></td>
    <td><%= c.merchant_name %></td>
</tr>
    <% @total = @total + c.item_price %>
    <% end %>

<tr>
  <td style="border:none;"></td>
  <td>Resultado</td>
  <td><%= @total %></td>
</tr>

</table>
